<div class="weight_page"> 
        <a href="/">
            <i class="material-icons">close</i>
        </a>

        <h1 class="header mt_16px">Vikthistorik</h1>

    <div class="weight_page_container">
        <div id="weight_page_left">
            <canvas id="lineChart" height="300" width="300"></canvas>
        </div>

        <div id="weight_page_right">
            <% if session[:error_no_goal] %>
                <p><%= "Du har inte valt n친got viktm친l, g칬r det nu! 游때" %></p>
                <form action="/weight" method="post">
                    <input type="hidden">
                    <label for="weight_goal">KG</label>
                    <input type="text" name="weight_goal" onkeypress="return isNumberKey(event)"></input>
                    <button type="submit">S칛tt som vikt m친l</button>
                </form>
            <% end %>

            <% if session[:error_no_logged_weight] %>
                <p class="mt_32px"><%= "Du har inte matat in din vikt, g칬r det nu s친 blir det grymt bra. 游녧游땏" %></p>
            <% end %>

            <h2 class="header mt_16px">Logga din aktuella vikt</h2>

            <form action="weight" method="post">
                <label for="new_weight">KG</label>
                <input type="text" name="new_weight" onkeypress="return isNumberKey(event)"></input>
                <button type="submit">L칛gg till</button>
            </form>

            <% if @percentage_reached %>
                <h2 class="header mt_16px">Din framg친ng</h2>
                <% if @percentage_reached < 5 %>
                    <h3 class="header">K칛mpa p친! 游땾</h3>
                <% elsif @percentage_reached > 5 && @percentage_reached < 100 %>
                    <h3 class="header">Du har n친tt <b><%= @percentage_reached.to_i %>%</b> av ditt m친l! Herregud vad bra! 游땘游땸</h3>
                <% elsif @percentage_reached > 100 %>
                    <h3 class="header">Du har klarat ditt m친l! Tjoohoo vad bra du 칛r!! 游뗿游땸</h3>
                <% else %>
                    <h3 class="header">Det verkar som att du inte har valt n친got m친l 칛nnu, det 칛r lungt, vi fixar det om du vill. Annars kan du bara l친ta det vara som det 칛r.</h3>
                <% end %>
                
                <% unless session[:error_no_goal] %>
                    <h2 class="header mt_32px">Rolig fakta</h2>
                    <h3 class="header">Ditt m친l 칛r att n친: <b><%= @weight_goal %></b> kg. Den senaste vikten du loggade var <b><%= @kg_arr.last %></b> kg.<br>Du har g친tt ner totalt <b><%= @kg_arr.first - @kg_arr.last %></b> kg.<br>Jag vet att du kan klara ditt m친l 游땗</h3>
                <% end %>
            <% end %>
        </div>
    </div>

    <script>
        drawGraph(<%= @date_arr %>, <%= @kg_arr %>, <%= @color %>);
    </script>
</div>